body {
    margin: 26px;
   
}

span {
    position: relative;
    left: 100px;
    display: inline-block;
    text-align: center;
    width: 250px;
    font-size: 26px;
    border: 2px solid black;
    padding: 20px;

}

.flag {
    width: 500px;
    height: 300px;
    font-size: 0;
    border: 2px solid black;
    margin: 26px 0px 26px 0px;
}



#france-blue {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    background-color: blue;
}    

#france-white {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    background-color: white;
    
}

#france-red {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    background-color: red;
    
}




#germany-black {
    width: 100%;
    height: 33.33%;
    background-color: black;
}

#germany-red {
    width: 100%;
    height: 33.33%;
    background-color: red;
}

#germany-gold {
    width: 100%;
    height: 33.33%;
    background-color: gold;
}

#mad-white {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    background-color: white;
}

#mad-red {
    position: relative;
    left: 33.33%;
    bottom: 100%;
    width: 66.66%;
    height: 50%;
    background-color: red;
}

#mad-green {
    position: relative;
    bottom: 100%;
    left: 33.33%;
    width: 66.66%;
    height: 50%;
    background-color: green;
}

/* Switzerland Flag */

#swis-red {
    width: 100%;
    height: 100%;
    background-color: red;
}

#swis-white {
    position: relative;
    bottom: 180px;
    left: 160px;
    width: 180px;
    height: 60px;
    background-color: white;
}

#swis-white-tall {
    position: relative;
    bottom: 300px;
    left: 220px;
    width: 60px;
    height: 180px;
    background-color: white;
}



#sweden-yellow {
    position: relative;
    top: 125px;
    width: 500px;
    height: 62.5px;
    background-color: yellow;
}

#sweden-yellow-tall {
    position: relative;
    bottom: 62.5px;
    left: 156.25px;
    width: 62.5px;
    height: 300px;
    background-color: yellow;
}

#sweden-blue {
    position: relative;
    z-index: -1;
    bottom: 362.5px;
    width: 500px;
    height: 300px;
    background-color: blue;
}




#gambia-red {
    position: relative;
    width: 500px;
    height: 100px;
    background-color: red;
}

#gambia-white-top {
    position: relative;
    width: 500px;
    height: 15px;
    background-color: white;
}

#gambia-blue {
    position: relative;
    width: 500px;
    height: 70px;
    background-color: blue;
}

#gambia-white-bottom {
    position: relative;
    width: 500px;
    height: 15px;
    background-color: white;
}

#gambia-green {
    position: relative;
    width: 500px;
    height: 100px;
    background-color: green;
}


#tonga {
    width: 500px;
    height: 250px;
}

#tonga-white {
    width: 200px;
    height: 125px;
    background-color: white;
}

#tonga-red-vert {
    position: relative;
    top: 47.5px;
    left: 57.5px;
    width: 85px;
    height: 30px;
    background-color: red;
}

#tonga-red-horz {
    position: relative;
    bottom: 10px;
    left: 85px;
    width: 30px;
    height: 85px;
    background-color: red;
}

#tonga-red {
    position: relative;
    z-index: -1;
    bottom: 125px;
    width: 500px;
    height: 250px;
    background-color: red;
}

/* Japan Flag */

#japan-white {
    width: 500px;
    height: 300px;
    background-color: white;
}

#japan-red {
    position: relative;
    bottom: 250px;
    left: 150px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
}

/* Greece Flag */

#greece-corner {
    width: 166.65px;
    height: 166.65px;
    background-color: blue;
}

#greece-white-vert {
    position: relative;
    left: 66.66px;
    width: 33.33px;
    height: 166.65px;
    background-color: white;
}

#greece-white-horz {
    position: relative;
    bottom: 99.99px;
    width: 166.65px;
    height: 33.33px;
    background-color: white;
}

#greece-background {
    position: relative;
    bottom: 166.65px;
    z-index: -1;
    width: 500px;
    height: 300px;
    background-color: blue;
}

#greece-white-1 {
    position: relative;
    top: 33.33px;
    height: 33.33px;
    background-color: white;
}

#greece-white-2 {
    position: relative;
    top: 66.66px;
    height: 33.33px;
    background-color: white;
}

#greece-white-3 {
    position: relative;
    top: 99.99px;
    height: 33.33px;
    background-color: white;
}

#greece-white-4 {
    position: relative;
    top: 133.32px;
    height: 33.33px;
    background-color: white;
}
