h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    line-height: 25px;
}
a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    float: left;
    padding-right: 25px;
}

