body{
    background-color: #111111
}

h1{
    color: #E2E80F;
    text-align: center;
}

p{
    color: #eeeeee;
    font-size: 20px;
    line-height: 40px;
}

span{
    color: #49DAFF;
    text-decoration:underline ;
}

#film-description{
    font-style: italic;
}