h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: green;
}

img {
    height: 400px;
   align: middle;
}

p {
    column-count: 3;
}

